p{
  text-align: left;
}
img.bio{
  max-width:50vw;
  height:auto;
  align-self: center;
}
.pdf{ width:32%;
      height:50vh;
    
}

.pdf:focus{
    width:100%;
}
.section{
    border-style:solid;
    border-radius: calc();
    border-color: cornflowerblue;
}


.mod_desc{
  height:2px;
  overflow-y: hidden;
}

.table tr:hover .mod_desc{
  height:auto;

}



a {
  font-size: 4vmin;
  display: block;
  color:#242456;
  margin: 2vh;

}
iframe.fullscreen {
  position:fixed !important;
  left:0;
  top:0;
  width:100vw !important;
  height: 100vh !important;
  z-index:1;
}
#fullscreen2{
  position:fixed;
  top:85vh;
  left:95vw;
  z-index:4;
  max-width:2vw;

}

#fullscreen2.fullscreen{
  left:95vw !important;
  top:92vh !important;
}
#fullscreen{
  font-size: 2.5vmin;
  position:fixed;
  top:95vh;
  left:85vw;
  z-index:4;
  background-color: #242456;
  color:white;
  border-radius: 2vmin;
  border-style: none;
}
.buffer{
  height:25vh;
  width:100vw;
  background-image: url("./assets/fs_topper.jpeg");
  background-color: #242456;
  margin-bottom: 2vh;
  background-size: 100% 100%;
}
body{
  font-family:atlas;
  font-size:25px;
  text-align:center;
  background-color:white;
  margin:auto;
  color:#242456;
  

}
.hidden{
  height:0px;
  overflow-y: hidden;
}
#navigation{
  width:100%;
  font-size: 4vmin;
  position:fixed;
  top:33vh;
  width:20vw;
  background-color: aliceblue;
  border-radius: 3vmin;
  border-style: solid;
}

#frame{
  width:78vw;
  height:65vh;
  position:relative;
  right:0.3vw;
  border-radius: 3vmin;
  border-style:solid;
  border-color: #242456;
}
#placeholder object{
  position:fixed;
  left:0vw;
  top:20vh;
  max-width:19vw;
  max-height: 75vh;
  display:block;
  border-radius: 3vmin;
  border-style:solid;
}
.content_wrapper{
  width:80vw;
  left:20vw;
  position: relative;
}

.content_wrapper_sessions{
  width:90vw;
  position: relative;
}

.navbox{
width:60vw;
height: 15vh;
background-color: whitesmoke;
display:inline-block;
border-radius: 8vmin;
border-style: solid;
cursor:pointer;
text-align: center;
line-height:8vh;

top:0px;
transition: all 0.5s;
-webkit-transition: all 0.2s;
-ms-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;
margin-top: 2vh;
margin-bottom: 2vh;

}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li{
  color:#242456;
  font-size:2vmin;
}
.nav p{
  text-align: center;
}
 .nav li:hover{
  color:black;
  
 }



.nav a:hover {
  color:white;
}
.navbox:active{
  box-shadow: 0px 0px;
  -moz-box-shadow: 0px 0px;
  -webkit-box-shadow: 0px 0px;
  top: 4px;
}

.vid{
    height:50vh;
    width:60vw;
}
