p{
  text-align: left;
}

.buffer{
    height:50vh;
    background-image: url("../assets/mv topper.png");
    background-color: #242456;
    margin-bottom: 2vh;
    margin-top: 2vh;
    background-size: cover;
}
.buffer2{
  height:50vh;
  background-image: url("../assets/mv topper.png");
  background-color: #242456;
  margin-bottom: 2vh;
  margin-top: 2vh;
  background-size: cover;
}
.buffer3{
  height:50vh;
  background-image: url("../assets/mv topper.png");
  background-color: #242456;
  margin-bottom: 2vh;
  margin-top: 2vh;
  background-size: cover;
}

.pdf{ width:32%;
      height:50vh;}

.pdf:focus{
    width:100%;
}
.section{
    border-style:solid;
    border-radius: calc();
    border-color: cornflowerblue;
}
.nav_banner{
  max-height:20vh;
    background-color: #f4f4f4;
    margin-bottom: 2vh;
    margin-top: 2vh;

}

.mod_desc{
  height:2px;
  overflow-y: hidden;
}

.table tr:hover .mod_desc{
  height:auto;

}



a {
  font-size: 3vmin;
  display: block;
  color:#242456;
  margin: 2vh;

  

}

body{
  font-family:atlas;
  font-size:25px;
  text-align:center;
  background-color:white;
  max-width:60vw;
  margin:auto;
  color:#242456
}

.banner p {
  font-size: 3vmin;
}

.banner a {
  font-size:3vmin;
}

.banner1{
  position:fixed;
  left:1vw;
  top:2vh;
  
  
}

.banner2{
  position:fixed;
  left:81vw;
  top:2vh;
  
  
}

.banner{
  background-color: whitesmoke;
  border-style: solid;
  border-color: #242456;
  width: 15vw;
  padding: 0.5vmin;

}
.navbox{
width:60vw;
height: 15vh;
background-color: whitesmoke;
display:inline-block;
border-radius: 8vmin;
border-style: solid;
cursor:pointer;
text-align: center;
line-height:8vh;

top:0px;
transition: all 0.5s;
-webkit-transition: all 0.2s;
-ms-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;
margin-top: 2vh;
margin-bottom: 2vh;

}
.navbox a {
  color:black;
}


.navbox:hover{
  background:#242456 ;
  text-align: center;
  border-color:black;
}

.navbox a:hover {
  color:white;
}
.navbox:active{
  box-shadow: 0px 0px;
  -moz-box-shadow: 0px 0px;
  -webkit-box-shadow: 0px 0px;
  top: 4px;
}