.buffer{
    height:50vh;
    background-image: url("../assets/mv topper.png");
    background-color: #242456;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.buffer2{
    height:20vh;
    width:65vw;
    background-image: url("../assets/Multiverse_Notations_RGB_Navy-08.png");
    justify-content: stretch;
    background-size: cover;
    
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.buffer3{
    height:30vh;
    width:90%;
    background-image: url("./assets/Multiverse_Logo_RGB_Indigo-02.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin:auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.pdf{ width:32%;
      height:50vh;}

.pdf:focus{
    width:100%;
}
.section{
    border-style:solid;
    border-radius: calc();
    border-color: cornflowerblue;
}
.nav_banner{
  max-height:20vh;
    background-color: #f4f4f4;
    margin-bottom: 2vh;
    margin-top: 2vh;

}

.mod_desc{
  height:2px;
  overflow-y: hidden;
}

.table tr:hover .mod_desc{
  height:auto;

}

#main_tracker{
  background-color: #ccc;
  border-style: ridge;
}

.table{
  border: 1px solid black;
  max-width:80vw;
  font-size: 1rem;

      }

.table tr {
  border: 1px solid black;
  padding:3px;
}

.table td {
  border: 1px solid black;
  padding:5px;
}

.tick_area{
  width:10vw;
}

.mod_desc{
  font-size:0.8rem;
}

.table tr:hover {background-color: #ddd;}

/* Customize the label (the container) */
.container {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: -0.5vh;
left: 4vw;
height: 25px;
width: 25px;
background-color: #bcc7f3;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: #242456;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

progress{
display:block;
width:17vw;

}

#progress_bars{
position:fixed;
left:1vw;
top:1vh;
width:18vw;
height:auto;
border-style: solid;
background-color: #bac4c6;
}

iframe[style]{
width:90% !important;
left:5% !important;
margin-top: 5vh !important;
/*position:static !important;*/
}

.vid{
  width:90%;
  height: 40vh;
  
}
.exercises{
width: 33%;
border-style:solid;
margin:auto;
}
.exercises td{
width: 33%;
border-style: solid;
}
.nav{
position:fixed;
left: 1vw;
top:1vh;
width: 10vw;
height:auto;
padding:2vw;
border-style: solid;
}


a {
  font-size: 3vmin;
  display: block;
  color:#242456;

  

}

body{
  font-family:atlas;
  font-size:25px;
  text-align:center;
  background-color:#ddd;
  max-width:60vw;
  margin:auto;
  color:#242456
}

.banner p {
  font-size: 3vmin;
}

.banner a {
  font-size:3vmin;
}

.banner1{
  position:fixed;
  left:1vw;
  top:2vh;
  
  
}

.banner2{
  position:fixed;
  left:81vw;
  top:2vh;
  
  
}

.banner{
  background-color: #bac4c6;
  border-style: solid;
  border-color: #242456;
  width: 15vw;
  padding: 0.5vmin;

}